.header {
	text-transform: uppercase;
	font-size: 20px;
	position: fixed;
	background-color: #438637;
	color: white;
	width: 100%;
	height: 45px;
	line-height: 45px;
	top: 0px;
	left: 0px;
	z-index: 10;
}
